.bg-template {
  height: 100%;
  width: 100%;
  display: block;
  filter: blur(3px);
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../../static/background/about/my_personal_files.png');
}

.about_container {
  min-height: 100vh;
  min-width: 100vw;
  position: relative;
}
.about_box {
  min-height: 100vh;
  min-width: 100vw;
  position: relative;
}

.userinfo_container {
  width: 100vw;
  min-height: 30vh;
  position: relative;
  margin-bottom: 5vh;
}
.usericon_box,
.username_box {
  width: 45vw;
  margin: 2.5vw;
  position: relative;
  display: inline-flex;
}
.usericon_box {
  height: 45vw;
  image {
    height: 45vw;
    border-radius: 50%;
    object-fit: cover;
    background-color: aliceblue;
  }
}
.username_box {
  text-align: center;
  justify-content: center;
}

.sign-list_container {
  width: 100vw;
  min-height: 50vh;
  padding: 0 20px;
}
