$logout-btn-bg-color: #999999;
$selected-btn-color: #000000;

.bg-template {
  height: 100%;
  width: 100%;
  display: block;
  filter: blur(3px);
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../../static/background/about/my_personal_files.png');
}

.about_container {
  min-height: 100vh;
  min-width: 100vw;
  position: relative;
}
.about_box {
  min-height: 100vh;
  min-width: 100vw;
  position: relative;
}

$icon-height-width: 25vh;
.userinfo_container {
  width: 100vw;
  min-height: $icon-height-width;
  position: relative;
  margin-bottom: 2.5vh;
}
.usericon_box,
.username_box {
  width: $icon-height-width;
  margin: 2.5vw;
  position: relative;
  display: inline-flex;
}
.usericon_box {
  height: $icon-height-width;
  image {
    height: $icon-height-width;
    border-radius: 50%;
    object-fit: cover;
    background-color: aliceblue;
  }
}
.username_box {
  text-align: center;
  justify-content: center;
}

.sign-list_container {
  width: 90vw;
  min-height: 50vh;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 2.5vh;
  .list_box {
    padding: 5px 10px;
  }
  .list_item {
    .info {
      @include word-dot;
      display: block;
    }
    margin-bottom: 10px;
  }
}

.logout_container {
  width: 100vw;
  min-height: 10vh;

  .logout-btn {
    width: 90vw;
    color: white;
    letter-spacing: 50px;
    // 校准
    padding-left: 50px;
    // reset
    padding-right: 0px;
    text-align: center;
    background-color: $selected-btn-color;
  }
}
