$logout-btn-bg-color: #999999;
$selected-btn-color: #000000;

.form_container,
.bg-template {
  min-height: 100vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.form_container .title {
  min-width: 5rem;
  max-width: 10rem;
  text-align: end;
  padding-right: 1rem;
}

.minput {
  margin-bottom: 2rem;
}
.submit-btn {
  width: 90vw;
  color: white;
  letter-spacing: 50px;
  // 校准
  padding-left: 50px;
  // reset
  padding-right: 0px;
  text-align: center;
  background-color: $selected-btn-color;
}
