.nothing_container {
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url('https://s3.ax1x.com/2021/01/08/suRIxS.png');
}
