/* text-overflow */
@mixin cn-wrap {
  word-wrap: break-word;
  word-break: break-all;
}

/* single-line-省略号 */
@mixin word-dot {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* more-line-省略号 */
@mixin more-line-word-dot {
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* 给指定所有默认文字颜色 */
