<ion-app>
  <!-- 这里的 when 是为了在 PC端 隐藏 侧边栏 -->
  <ion-split-pane contentId="main-content" when="(min-width: 9000px)">
    <!-- side-menu-container-start -->
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>{{ 'Side-Menu.Title' | translate }}</ion-list-header>

          <ion-menu-toggle menu="first" auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item
              (click)="selectedIndex = i"
              routerDirection="root"
              [routerLink]="[p.url]"
              lines="none"
              detail="false"
              [class.selected]="selectedIndex == i"
            >
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ 'Side-Menu.' + p.title | translate }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>

      <!-- side-lang-btn-container-start -->
      <div class="langbtn_container">
        <ion-fab vertical="bottom" horizontal="end">
          <ion-fab-button color="light" (click)="handleChangeLang()">
            <ion-icon name="language-outline"></ion-icon>
          </ion-fab-button>
        </ion-fab>
      </div>
      <!-- side-lang-btn-container-end -->
    </ion-menu>
    <!-- side-menu-container-end -->

    <!-- router-container-start -->
    <ion-router-outlet id="main-content"></ion-router-outlet>
    <!-- router-container-end -->
  </ion-split-pane>
</ion-app>
