<ion-content>
  <div class="index_container">
    <div class="left m-flex flex-wrap">
      <div class="words year">
        <span></span>
        20
        <br />
        21
      </div>
    </div>
    <div class="center">
      <div class="words">
        <span>牛</span>
        <span>年</span>
        <span>大</span>
        <span>吉</span>
      </div>
      <div class="cow">
        <img src="../../assets/imgs/index-imgs/cow.png" alt="cow" (click)="onCowClick($event)" />
        <img class="cloud" src="../../assets/imgs/index-imgs/cloud.gif" alt="cloud" />
      </div>
    </div>
    <div class="right">
      <div class="top">
        <div class="lanters">
          <img src="../../assets/imgs/index-imgs/lanterns.gif" alt="lanterns" />
        </div>
      </div>
      <div class="bottom">
        <div class="couplet words">
          <span>欣欣向荣</span>
          <span>万象更新</span>
        </div>
        <!-- <ion-button (click)="nav.go('/Scratch-Card')">去抽奖!</ion-button> -->
      </div>
    </div>
  </div>
</ion-content>
