$unselected-btn-color: #999999;
$selected-btn-color: #000000;

// reset button
.mbtn {
  margin: 5px;
  padding: 0;
  height: 26px;
  max-width: 30vw;
  line-height: 26px;

  border: transparent;
  background-color: transparent;
}
.mbtn::after {
  border: transparent;
}

.btns_container {
  bottom: 0;
  // map 占用了 80vh
  height: 20vh;
  width: 100%;
  position: absolute;
}
.btn-sign {
  width: 15vh;
  height: 15vh;
  border-radius: 50%;
  line-height: 15vh;
  color: #ffffff;
  background-color: $selected-btn-color;
}
.btn-sign-relocation {
  top: 0;
  right: 2.5vw;
  position: absolute;
}

.btn-sign-clean {
  bottom: 0;
  right: 2.5vw;
  position: absolute;
}
